# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# SwiftPM
/.build/
/Packages/

# Playground
timeline.xctimeline
playground.xcworkspace

# General macOS
*.swp
*.lock
*.tmp

# User-specific
.idea/
*.moved-aside
*.xcuserstate

# Swift Package Index
.swiftpm/xcode/
